.slider-input {
  display: flex;
}
.slider {
  flex: 1;
  /* margin-top: 10px; */
  box-sizing: border-box;
}
.number-input {
  flex: none;
  margin-left: 20px;
  margin-right: 10px;
  width: 120px;
  box-sizing: border-box;
}
