.markdown-editor .mde-header-group:last-child {
  margin-left: auto;
}

/* Mobile Device */
@media all and (max-width: 768px) {
  .isReply .markdown-editor .mde-header-group:last-child {
    margin-left: 0;
  }
}

.ui.form .markdown-editor textarea:not([rows]) {
  min-height: auto;
  max-height: 85vh;
}

.markdown-editor .grip {
  display: none;
}

.markdown-editor .mde-preview {
  max-height: 85vh;
  min-height: auto !important;
  overflow: auto;
  background-color: #ffffff;
}

.markdown-editor .mde-header ul.mde-header-group.hidden {
  display: none;
}

.mde-header {
  min-height: 44px;
}