@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

*,
body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
textarea {
  font-family: 'NanumSquare', '맑은 고딕', 'Malgun Gothic', 'Noto Sans',
    sans-serif;
}

/*
html,
body,
#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
} */
a.link {
  cursor: pointer;
}

.ui.menu .active.item {
  font-weight: 700;
}

.dimmed.dimmable > .ui.modals.dimmer.visible {
  display: flex !important;
}

.ui.search > .results {
  height: 20em;
  max-height: 20em !important;
  overflow-y: auto;
}

.srv-validation-message {
  color: red;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.ui.list .list > .item > .image:only-child,
.ui.list .list > .item > img.image,
.ui.list > .item > .image:only-child,
.ui.list > .item > img.image {
  width: 28px !important;
  height: 29px !important;
}

.ui.modal .content > .description {
  padding: 0rem 0 !important;
}

/* 20200102 new */
.ui.inverted.menu.signHeader {
  background-color: #396aff;
  height: 3.645vw;
}

.signWrap {
  margin: 0 !important;
}

.signWrap .logo .brandLogo {
  margin-right: 0;
}

.signWrap .logo .brandCI {
  width: 50%;
}

.signWrap .logo span {
  display: block;
  margin: 10px 0 30px 73px;
  font-weight: 900;
  font-size: 24px;
}

.signWrap .topWrapper {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
}

.signWrap .langDiv {
  padding: 10px;
  border: solid 1px #d2d2d2;
}

.signWrap .row {
  flex: 1;
  margin: 0;
  padding: 0 !important;
}

.signWrap .row:nth-of-type(1) {
  flex-basis: 40%;
  min-width: 500px;
  max-width: 768px;
  padding: 0 50px !important;
}

.signWrap .row:nth-of-type(2) {
  position: relative;
  flex-basis: 60%;
  background: rgb(9, 134, 255);
  background: linear-gradient(
    45deg,
    rgba(9, 134, 255, 1) 0%,
    rgba(25, 34, 84, 1) 70%
  );
}

.signWrap .visualArea > div {
  position: absolute;
}

.signWrap .visualArea .visual01 {
  top: 43%;
  left: 50%;
  transform: translate(-50%, 0);
}

.signWrap .visualArea div img {
  display: block;
}

.signWrap .visualArea .visual02 {
  bottom: 0;
  left: 0;
}

.signWrap .visualArea .visual02 img,
.signWrap .visualArea .visual03 img,
.signWrap .visualArea .visual04 img,
.signWrap .visualArea .visual05 img,
.signWrap .visualArea .visual06 img {
  width: 80%;
}

.signWrap .visualArea .visual03 {
  left: -3%;
  top: -3%;
}

.signWrap .visualArea .visual04 {
  right: -2%;
  top: 20%;
}

.signWrap .visualArea .visual05 {
  left: 23%;
  top: 10%;
}

.signWrap .visualArea .visual06 {
  left: 52%;
  bottom: 14%;
}

.signWrap .visualArea .text {
  position: absolute;
  top: 25%;
  font-size: 42px;
  color: #fff;
  font-weight: 300;
  line-height: 52px;
  letter-spacing: -1px;
  text-align: left;
}

.signWrap .loginFieldBox {
  width: 100% !important;
}

.signWrap .loginFieldBox h1 {
  text-align: left;
}

.signWrap .loginFieldBox .horizontal.divider {
  margin: 30px 0;
}

.singWrap .loginFieldBox .row:nth-of-type(1) {
  width: 300px;
}

.signWrap .loginFieldBox .form .segment {
  padding: 0;
  border: 0;
  background-color: transparent;
  box-shadow: none;
}

.signWrap .loginFieldBox .form .segment:after {
  display: none;
}

.signWrap .loginFieldBox .form .segment .field input {
  height: 50px !important;
  padding: 0 15px !important;
  border-radius: 0;
  border: 0;
  background-color: #fff !important;
  font-size: 16px !important;
}

.signWrap .loginFieldBox .form .segment .field input::placeholder {
  font-size: 16px !important;
  color: #777;
}

.signWrap .loginFieldBox .form .segment .field input:-webkit-autofill {
  box-shadow: none !important;
  border: 0;
  border-bottom: solid 1px #d2d2d2 !important;
  background-color: #fff !important;
}

.signWrap .loginFieldBox .form .segment .field i {
  right: 0;
  left: auto;
}

.signWrap .loginFieldBox .form .segment .buttonGroup {
  display: flex;
}

.signWrap .loginFieldBox .form .segment .buttonGroup .btn {
  flex: 1;
  height: 50px;
  margin: 0;
}

.signWrap .loginFieldBox .form .segment .buttonGroup .btn:nth-child(1) {
  padding: 0;
  margin-right: 5px;
  background-color: #0986ff;
}

.signWrap .loginFieldBox .form .segment .buttonGroup .btn:nth-child(2) {
  color: #fff;
  padding: 0;
  line-height: 50px;
  background-color: #192254;
}

.signupStep.steps {
  margin-bottom: 50px;
}

.signupStep.steps .step {
  border-right: 0;
  background-color: #f6f6f6;
}

.signupStep.steps .step:before {
  font-weight: 900 !important;
}

.signupStep.steps .step:after {
  border-width: 0 2px 2px 0;
  background-color: #f6f6f6;
}

.stepFirst {
  padding: 20px 0 50px;
}

.stepFirst .form > div:not(.divider) {
  margin-bottom: 40px;
}

.stepFirst .chkAll {
  text-align: center;
}

.stepFirst .chkAll label {
  font-size: 18px;
  font-weight: 700;
}

.stepFirst .form {
  margin-top: 30px;
}

.stepFirst .agreeAllDiv {
  padding-bottom: 20px;
  text-align: center;
}

.stepFirst .agreeAllDiv dl {
  margin-bottom: 20px;
}

.stepFirst .agreeAllDiv dl dt {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}

.stepFirst .agreeAllDiv dl dd {
  margin-left: 0;
}

.stepFirst .WarningText p {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}

.termsScroll {
  height: 250px;
  padding: 20px;
  border: solid 1px #d2d2d2;
  overflow-y: auto;
  font-size: 12px;
  color: #666;
}

.termsScroll.privacy p {
  font-size: 14px;
  font-weight: 700;
  color: #333;
}

.termsScroll.privacy p:not(:first-child) {
  margin-top: 30px;
  padding-top: 20px;
  border-top: solid 1px #e2e2e2;
}

.termsScroll.warning {
  height: auto;
  font-weight: 700;
  color: #cf1c1c;
  background-color: #fcf2f2;
  border-color: #efdada;
}

.ui.container.margin-0 {
  margin: 0 !important;
}

/* end 20200102 new */

/* .ui.list:not(.horizontal)>.item:hover {
  background-color: #faf9f7;
} */

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .fileheader-ellipsis {
    /* width: 600px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .fileheader-fulltext {
    /* width: 600px; */
    word-break: break-all;
  }

  .filedescription {
    max-width: 600px;
    word-break: break-all;
  }

  .signWrap .row:nth-of-type(1) {
    padding: 50px 0 !important;
  }

  .signWrap .row:nth-of-type(2) {
    display: none;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .fileheader-ellipsis {
    /* width: 600px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .fileheader-fulltext {
    /* width: 600px; */
    word-break: break-all;
  }

  .filedescription {
    max-width: 600px;
    word-break: break-all;
  }

  .signWrap .row:nth-of-type(1) {
    padding: 50px 0 !important;
  }

  .signWrap .row:nth-of-type(2) {
    display: none;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .ui.modal > .modal-content {
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
  }

  .fileheader-ellipsis {
    /* width: 400px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .fileheader-fulltext {
    /* width: 400px; */
    word-break: break-all;
  }

  .filedescription {
    max-width: 400px;
    word-break: break-all;
  }

  .signWrap .row:nth-of-type(1) {
    min-width: auto;
    padding: 50px 30px !important;
  }

  .signWrap .row:nth-of-type(2) {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .ui.steps:not(.unstackable) {
    flex-flow: row nowrap;
    margin-bottom: 20px;
  }

  .ui.steps:not(.unstackable) .step {
    flex: 1 !important;
    width: 33% !important;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .ui.modal > .modal-content {
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
  }

  .fileheader-ellipsis {
    /* width: 200px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .fileheader-fulltext {
    /* width: 200px; */
    word-break: break-all;
  }

  .filedescription {
    max-width: 200px;
    word-break: break-all;
  }

  .signWrap .row:nth-of-type(1) {
    min-width: auto;
    padding: 50px 30px !important;
  }

  .signWrap .row:nth-of-type(2) {
    display: none;
  }

  .signWrap .logo .brandCI {
    width: 70%;
  }

  .signWrap .logo span {
    margin-left: 70px;
    font-size: 20px;
  }

  .signupStep.steps {
    flex-flow: row nowrap;
  }

  .signupStep.steps .step {
    flex: 1 0 auto !important;
    width: 33% !important;
  }

  .ui.steps {
    flex-flow: row nowrap;
  }
}
