@media screen and (max-width: 400px) {
  .timeline-item-date {
    width: 160px !important;
  }
  .timeline-item-dateinner {
    background-color: darkslategrey;
    font-size: 0.7em;
  }
  .face > img {
    height: 30px !important;
    width: 30px !important;
  }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
  .timeline-item-date {
    width: 160px !important;
  }
  .timeline-item-dateinner {
    background-color: darkslategrey;
    font-size: 0.7em;
  }
  .face > img {
    height: 30px !important;
    width: 30px !important;
  }
}

@media screen and (min-width: 768px) {
.timeline-item-dateinner {
  background-color: darkslategrey;
}
.face > img {
  cursor: pointer;
}
}

